@charset "UTF-8";

table.comment a:link {
	color: #3333cc;
}
table.comment {
	width: 90%;
	margin: 1em 3em;
}
table.comment td {
	cellpadding: 4px;
	cellspacing: 4px;
	padding: 2px;
	color: #333;
}
table.comment tr.odd {
	background: #e3e3e3;
}
table.comment tr.even {
	background: #eee;
}
table.comment td.aircaster {
	color: #f34600;
}
table.comment td.aircaster-empty {
	color: #f69666;
}
table.comment td.hidden {
	color: #aaaaaa;
}

/* EOF */
