# 

ServerRoot "/web/mikunopop"
ServerName mikunopop.info
ServerAdmin webmaster@mikunopop.info
ServerTokens ProductOnly

#LockFile /web/mikunopop/logs/httpd.lock
PidFile logs/httpd.pid
#ScoreBoardFile /web/mikunopop/logs/httpd.scoreboard

Timeout 10
KeepAlive Off
#MaxKeepAliveRequests 100
#KeepAliveTimeout 10

<IfModule mpm_prefork_module>
    StartServers          3
    MinSpareServers       3
    MaxSpareServers       4
    MaxClients            4
    MaxRequestsPerChild 100
</IfModule>

<IfModule mpm_worker_module>
    StartServers          2
    MaxClients           20
    MinSpareThreads      20
    MaxSpareThreads      20 
    ThreadsPerChild      20
    MaxRequestsPerChild 100
</IfModule>

# 2MB
LimitRequestBody 2097152
LimitRequestFields 20
LimitInternalRecursion 5

Listen 8420
User ryo
Group www

# root
DocumentRoot /web/mikunopop/htdocs
#CacheNegotiatedDocs
UseCanonicalName On
ServerSignature Off
#DefaultType text/plain
HostnameLookups Off
#BufferedLogs On
TraceEnable Off

### access log

<IfModule mod_log_config.c>
	LogLevel warn
#	SetEnvIf Request_URI cron no_log
	LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
#	LogFormat "%h %l %u %t \"%r\" %>s %b" combined
#	CustomLog /web/mikunopop/logs/access_log combined env=!no_log

#	CustomLog logs/access_log combined

# don't use this :<
#	<IfModule log_rotate_module>
#		RotateLogs On
#		RotateLogsLocalTime On
#		CustomLog "/web/mikunopop/logs/%Y%m/apache_access_%Y%m%d.log" combined
#	</IfModule>
#	<IfModule !log_rotate_module>
		CustomLog "|/usr/local/sbin/cronolog /web/mikunopop/logs/%Y%m/apache_access_%Y%m%d.log" combined
#	</IfModule>
</IfModule>

### error log

#ErrorLog logs/error_log
ErrorLog "|/usr/local/sbin/cronolog /web/mikunopop/logs/%Y%m/apache_error_%Y%m%d.log"

### error docs
ErrorDocument 401       /error/401.html
ErrorDocument 403       /error/403.html
ErrorDocument 404       /error/404.html
ErrorDocument 406	/error/406.html
ErrorDocument 413	/error/413.html
ErrorDocument 500       /error/500.html
ErrorDocument 503       /error/503.html

### mod_authz_host

#Include conf/authz_host.conf

### mod_security

#Include conf/security.conf

### mod_loadavg

#Include conf/loadavg.conf

### mod_deflate

#Include conf/deflate.conf

### mod_extract_forwarded

LoadModule extract_forwarded_module modules/mod_extract_forwarded.so
Include conf/extract_forwarded.conf

### mod_dosdetector

#Include conf/dosdetector.conf

### badrobot

#Include conf/badrobot.conf

### mod_perl

#LoadModule perl_module modules/mod_perl.so
LoadModule apreq_module modules/mod_apreq2.so
Include conf/perl.conf

### perl-status

#Include conf/perl-status.conf

### project

Include conf/project_httpd.conf

# EOF
